In [1]:
import pubchempy as pcp
pcp.get_compounds("2,3-Bis[[(2E,6E,10E)-3,7,11,15-tetramethylhexadeca-2,6,10,14-tetraenyl]oxy]-1-propanol", "name")

[]

In [2]:
pcp.get_compounds(14556936, "cid")

[Compound(14556936)]

In [1]:
from AqOrg import Estimate, Joback

In [4]:
Joback("hexanol")

{'Gig': -137.18,
 'Hig': -319.4,
 'Sig': 440.6071252725151,
 'Cpig': 156.20027348178624}

In [5]:
est = Estimate("3-Methyl-1-(3-methylhexoxy)hexane", save=True)

In [6]:
est.group_matches

,[C!H3]-[CX4H3R0],C-[CX4H2R0]-C,C-[CX4H1](-C)-C,O-[CX4H2]-C,C-[OX2]-C,formula
3-Methyl-1-(3-methylhexoxy)hexane,4,6,2,2,1,C14H30O

In [7]:
from pyCHNOSZ import mod_OBIGT, subcrt, info

In [8]:
mod_OBIGT(est.OBIGT)

[3446]

In [9]:
est = Estimate("n-hexanol")

In [10]:
est.group_matches

           [C!H3]-[CX4H3R0]  C-[CX4H2R0]-C  O-[CX4H2]-C  C-[OX2H] formula
n-hexanol                 1              4            1         1  C6H14O

In [11]:
mod_OBIGT(est.OBIGT, replace=False)

[3447]

In [12]:
print(info(915)["a1"]*4.184)
print(info(3447)["a1"])

915    4.899464
Name: a1, dtype: float64
3447    9.878325
Name: a1, dtype: float64

In [13]:
info([915, 3447])

,name,abbrv,formula,state,ref1,ref2,date,E_units,G,H,...,Cp,V,a1,a2,a3,a4,c1,c2,omega,Z
915,ethanol,None,C2H5OH,aq,PS01,None,2000-10-04,cal,-43240.0,-68770.0,...,62.860000,55.10,1.171000,621.000000,5.980000,-33500.000000,58.800000,16700.0,-12000.000000,0.0
3447,n-hexanol,C6H14O,C6H14O,aq,AqOrg,GrpAdd,07/02/2025 15:15:50,J,-147480.0,-387470.0,...,613.200273,117.72,9.878325,7045.035804,119.933082,-467116.670978,581.936497,126553.0,-60209.117939,0.0

In [14]:
subcrt([884, 907, 1], [1, -1, 1], property=["logK"], show=False)["out"]

         T           P        logK
1     0.01    1.000000  258.353261
2    25.00    1.000000  235.867404
3    50.00    1.000000  216.889830
4    75.00    1.000000  200.645872
5   100.00    1.013220  186.576302
6   125.00    2.320144  174.270638
7   150.00    4.757169  163.413256
8   175.00    8.918049  153.761436
9   200.00   15.536499  145.124078
10  225.00   25.478603  137.348287
11  250.00   39.736493  130.309669
12  275.00   59.431251  123.904840
13  300.00   85.837843  118.044687
14  325.00  120.457572  112.645240
15  350.00  165.211289  107.599784

In [15]:
subcrt([3419, 3420, 1], [1, -1, 1], property=["logK"], show=False)["out"]

         T           P       logK
1     0.01    1.000000  46.195744
2    25.00    1.000000  42.479064
3    50.00    1.000000  39.352243
4    75.00    1.000000  36.687980
5   100.00    1.013220  34.392122
6   125.00    2.320144  32.394326
7   150.00    4.757169  30.641036
8   175.00    8.918049  29.090731
9   200.00   15.536499  27.710744
10  225.00   25.478603  26.475040
11  250.00   39.736493  25.362626
12  275.00   59.431251  24.356404
13  300.00   85.837843  23.442317
14  325.00  120.457572  22.608721
15  350.00  165.211289  21.845918

### Single compound estimation

In [16]:
est = Estimate("Methyl Pivalate")

In [17]:
dir(est)

['Cp',
 'Cpaq',
 'Cph',
 'Cph_err',
 'Cpig',
 'Cpig_a',
 'Cpig_b',
 'Cpig_c',
 'Cpig_d',
 'G',
 'Gaq',
 'Gh',
 'Gh_err',
 'Gig',
 'H',
 'Haq',
 'Hh',
 'Hh_err',
 'Hig',
 'OBIGT',
 'S',
 'Saq',
 'Selements',
 'Sh',
 'Sh_err',
 'Sig',
 'V',
 'V_err',
 'Vnonsolv',
 'Vsolv',
 'Z',
 '_Estimate__convert_to_OBIGT',
 '_Estimate__dict_to_formula',
 '_Estimate__display_molecule',
 '_Estimate__entropy',
 '_Estimate__est_calcs',
 '_Estimate__est_joback',
 '_Estimate__estimate',
 '_Estimate__estimate_joback',
 '_Estimate__load_group_data',
 '_Estimate__match_groups',
 '_Estimate__set_groups',
 '_Estimate__test_group_match',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'a1',
 'a2',
 'a3',
 'a4',
 'c1',
 'c2',
 'charge',
 'element_data',
 'formula',
 'formula_dict',
 'group_data',
 'group_matches',
 'groups',
 'name',
 'note',
 'omega',
 'pattern_dict',
 'pcp_compound',
 'sigma',
 'smiles']

Look up the molecule's OBIGT table of estimated values.

In [18]:
est.OBIGT

,name,abbrv,formula,state,ref1,ref2,date,E_units,G,H,...,Cp,V,a1.a,a2.b,a3.c,a4.d,c1.e,c2.f,omega.lambda,z.T
0,Methyl Pivalate,C6H12O2,C6H12O2,aq,AqOrg,GrpAdd,07/02/2025 15:15:51,J,-328210.0,-541830.0,...,329.867018,119.23,102.270076,65.607595,114.87477,-45.293346,318.563505,4.14832,-0.311926,0

Look up individual parameters.

In [19]:
est.Cp, est.omega, est.Sh, est.Sh_err

(329.86701817837815, -0.31192571222502785, -94.95, 5.09)

Specify known values for properties and parameters. See which ones can be defined with `help(AqOrg.Estimate)`. Do not show a picture of the molecule with `show=False`.

In [20]:
pentanol = Estimate("pentanol", Gh=-11.11, Hig=-294.56, Cpaq=535, show=False)
pentanol.OBIGT

,name,abbrv,formula,state,ref1,ref2,date,E_units,G,H,...,Cp,V,a1.a,a2.b,a3.c,a4.d,c1.e,c2.f,omega.lambda,z.T
0,pentanol,C5H12O,C5H12O,aq,AqOrg,GrpAdd,07/02/2025 15:15:51,J,-156710.0,-359110.0,...,535.0,102.11,85.837993,60.710613,100.361467,-39.623208,505.369346,11.96761,-0.576511,0

Perform simple group matching with `test=True`.

In [21]:
Estimate("pentanol", test=True, show=False)

{'[C!H3]-[CX4H3R0]': 1, 'C-[CX4H2R0]-C': 3, 'O-[CX4H2]-C': 1, 'C-[OX2H]': 1, 'formula': 'C5H12O'}

### Multi-compound estimation

In [22]:
import pandas as pd
mols = ["pentanol", "hexanol", "heptanol"]
OBIGT = pd.DataFrame()
for mol in mols:
    OBIGT = pd.concat([OBIGT, Estimate(mol, show=False).OBIGT], ignore_index=True)
OBIGT

,name,abbrv,formula,state,ref1,ref2,date,E_units,G,H,...,Cp,V,a1.a,a2.b,a3.c,a4.d,c1.e,c2.f,omega.lambda,z.T
0,pentanol,C5H12O,C5H12O,aq,AqOrg,GrpAdd,07/02/2025 15:15:52,J,-156580.0,-363310.0,...,528.305433,102.11,85.813330,60.774463,100.419070,-39.642369,498.412926,12.07798,-0.580589,0
1,hexanol,C6H14O,C6H14O,aq,AqOrg,GrpAdd,07/02/2025 15:15:53,J,-147480.0,-387470.0,...,613.200273,117.72,98.783255,70.450358,119.933082,-46.711667,581.936497,12.65530,-0.602091,0
2,heptanol,C7H16O,C7H16O,aq,AqOrg,GrpAdd,07/02/2025 15:15:54,J,-138380.0,-411630.0,...,698.095114,133.33,111.713735,80.228368,139.740061,-53.857142,665.457379,13.23262,-0.623885,0

### Load a custom table of group contribution values

AqOrg has a built-in table of group contribution values. If you want to replace it with your own custom table, specify the filename of your CSV table in ```group_data```. In this example, custom_groups.csv is no different than the default database so you should not expect the estimated values to be any different than before.

In [23]:
pentanol = Estimate("pentanol", group_data="custom_groups.csv", show=False)
pentanol.OBIGT

,name,abbrv,formula,state,ref1,ref2,date,E_units,G,H,...,Cp,V,a1.a,a2.b,a3.c,a4.d,c1.e,c2.f,omega.lambda,z.T
0,pentanol,C5H12O,C5H12O,aq,AqOrg,GrpAdd,07/02/2025 15:15:54,J,-156580.0,-363310.0,...,528.305433,102.11,85.81333,60.774463,100.41907,-39.642369,498.412926,12.07798,-0.580589,0